<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}GoCredi{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  {% if show_ticker %}
    {% include 'partials/ticker.html' %}
  {% endif %}

  {% include 'partials/navbar.html' %}


  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>






